.about-catering-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--padding-50-50-section);
    align-items: center;
}

.catering-img {
    padding: var(--padding-half-split);
}

.catering-img img {
    width: 600px;
    aspect-ratio: 600/750;
    max-width: 100%;
    height: auto;
    opacity: 0.75;
    border-radius: 4px;
}

.about-catering {
    padding: var(--padding-half-split);
}

.about-catering h1, .about-catering-heading-mobile {
    font-family: var(--playfair-font);
    letter-spacing: 5px;
    font-size: var(--font-size-heading);
    margin: var(--margin-heading);
    font-weight: var(--font-weight-400);
    text-align: center;
    line-height: var(--line-height-heading);
}

.about-catering-heading-mobile {
    display: none;
}

.about-catering h5, .about-catering-sub-heading-mobile {
    font-family: var(--times-roman-font);
    letter-spacing: 5px;
    font-size: var(--font-size-about-cater-desc);
    margin: var(--margin-half-split-sub-heading);
    font-weight: var(--font-weight-400);
    text-align: center;
    line-height: var(--line-height-about-cater-desc);
}

.about-catering-sub-heading-mobile {
    display: none;
}

.about-catering p {
    font-size: var(--font-size-about-cater-desc);
    margin: var(--margin-half-split-desc);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-about-cater-desc);
}

.about-catering p:last-child {
    color: #757575;
}

@media only screen and (max-width: 600px) {
    .about-catering-container {
        grid-template-columns: 1fr;
        padding: 40px 0;
    }
    
    .about-catering h1, h5 {
        display: none;
    }
    
    .about-catering-heading-mobile {
        display: block;
        font-size: 1.5rem;
    }
    
    .about-catering-sub-heading-mobile {
        display: block;
        margin-bottom: 20px;
        font-size: 1rem;
    }
}