.contact-container {
    display: flex;
    flex-direction: column;
    padding: 64px 30px;
}

.contact-container h1 {
    font-family: var(--playfair-font);
    letter-spacing: 5px;
    font-size: var(--font-size-heading);
    margin: var(--margin-heading);
    font-weight: var(--font-weight-400);
    text-align: left;
    line-height: var(--line-height-heading);
}

.contact-desc {
    font-family: var(--times-roman-font);
    font-size: var(--font-size-contact-desc);
    margin: var(--margin-contact-desc);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-contact-desc);
}

.catering-address {
    font-family: var(--times-roman-font);
    font-size: var(--font-size-address-cater-service);
    font-weight: bold;
    color: #607d8b;
    margin: 10px 0;
}

.catering-contact-info {
    font-family: var(--times-roman-font);
    font-size: var(--font-size-contact-desc);
    font-weight: var(--font-weight-400);
    margin: var(--margin-contact-info);
}

.contact-form input {
    font-family: var(--times-roman-font);
    font-size: var(--font-size-contact-input);
    font-weight: var(--font-weight-400);
    padding: var(--padding-contact-input);
    outline: none;
}

.contact-form input:focus {
    outline: 1px solid gray;
}

.send-message {
    margin: var(--margin-contact-info);
}

.send-message button {
    font-family: var(--times-roman-font);
    font-size: var(--font-size-contact-input);
    font-weight: var(--font-weight-400);
    padding: 10px 18px;
    cursor: pointer;
    text-align: center;
}

.send-message button:hover {
    background-color: #ccc;
}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

@media only screen and (max-width: 600px) {
    .contact-container {
        padding-top: 0;
    }
}