.hero {
    width: 100%;
    max-width: 1920px;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    padding: 12px 24px;
    position: absolute;
    bottom: 0;
    left: 25px;
    text-align: center;
    color: #5a5959;
    letter-spacing: 5px;
}

.hero-text h3 {
    font-family: var(--playfair-font);
    font-size: var(--font-size-heading);
}

@media screen and (max-width: 600px) {
    .hero-text {
        left: 25px;
        padding: 0;
    }
    
    .hero-text h3 {
        font-size: 1.25rem;
    }
}