.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--padding-50-50-section);
    align-items: center;
}

.menu-list {
    padding: var(--padding-half-split);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.menu-list h1 {
    font-family: var(--playfair-font);
    letter-spacing: 5px;
    font-size: var(--font-size-heading);
    margin: var(--margin-heading);
    font-weight: var(--font-weight-400);
    text-align: center;
    line-height: var(--line-height-heading);
}

.menu-item h4 {
    font-family: var(--playfair-font);
    letter-spacing: 5px;
    font-size: var(--font-size-menu-name);
    margin: var(--margin-menu-name);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-menu-name);
}

.menu-item p {
    font-family: var(--times-roman-font);
    font-size: var(--font-size-menu-desc);
    color: #757575;
    margin: var(--margin-menu-desc);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-menu-desc);
}

.menu-image {
    padding: var(--padding-half-split);
}

.menu-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 0.75;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .menu-container {
        grid-template-columns: 1fr;
        padding-top: 0;
    }
}