@import "root.css";

.navbar {
    font-family: var(--times-roman-font);
    padding: var(--padding-navbar);
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-item {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    letter-spacing: 4px;
}

.nav-item li:first-child {
    margin-right: auto;
}

.nav-item li a {
    display: block;
    text-align: center;
    font-size: var(--font-size-nav-item);
    padding: var(--padding-navbar);
    text-decoration: none;
    font-weight: 400;
    color: black;
}

.nav-item li a:hover {
    background-color: #ccc;
    color: black;
}

.hamburger-menu {
    display: none;
    color: black;
    cursor: pointer;
    padding: 15px;
    align-items: center;
}

.hamburger-menu span {
    font-family: var(--times-roman-font);
    font-size: 25px;
    margin-left: 10px;
}

.nav-dropdown {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #ccc;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.nav-dropdown li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

.nav-dropdown li:first-child {
    display: none;
}

@media only screen and (max-width: 600px) {
    
    .hamburger-menu {
        display: flex;
    }
    
    .nav-item {
        display: none;
    }
    
    .show {
        display: flex;
    }
}



