:root {
    --times-roman-font: "Times New Roman", sans-serif;
    --playfair-font: "Playfair Display", serif;
    
    --font-size-nav-item: 0.938rem;
    --font-size-heading: 2.25rem;
    --font-size-about-cater-desc: 1.125rem;
    --font-size-menu-name: 1.25rem;
    --font-size-menu-desc: 0.938rem;
    --font-size-contact-desc: 0.938rem;
    --font-size-address-cater-service: 1.125rem;
    --font-size-contact-input: 0.938;
    
    --line-height-nav-item: 1.666;
    --line-height-heading: 1.53;
    --line-height-about-cater-desc: 1.5;
    --line-height-menu-name: 1.5;
    --line-height-menu-desc: 1.5333;
    --line-height-contact-desc: 1.5333;
    --line-height-cater-service: 1.5;
    
    --font-weight-400: 400;
    --color-gray: #757575;
    
    --padding-navbar: 8px 16px;
    --margin-heading: 10px 0;
    --margin-menu-name: 10px 0;
    --margin-menu-desc: 15px 0;
    --padding-half-split: 12px 24px;
    --padding-50-50-section: 64px 0;
    --margin-half-split-heading: 10px 0;
    --margin-half-split-sub-heading: 10px 0;
    --margin-half-split-desc: 18px 0;
    --padding-contact-input: 16px 8px;
    --margin-contact-heading: 10px 0;
    --margin-contact-desc: 15px 0;
    --margin-contact-service: 18px 0;
    --margin-contact-info: 15px 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.common-section-container {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .common-section-container {
        width: 100%;
    }
}
